{% extends "hotel_base.html" %}
{% block content %}
{% load static%}



<div class="container">



    {% if messages%}
    {% for msg in messages %}
    <div class="container mt-0">
        <!-- Success Alert -->
        {% if msg.tags == 'success' %}
        <div id="success-alert" class="alert alert-success alert-dismissible" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%else%}
       
        <div id="danger-alert" class="alert alert-danger alert-dismissible" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%endif%}
    </div>
    {%endfor%}
    <script>
      $(document).ready(function() {
          // Fade out the alert after 5 seconds (5000 milliseconds)
          setTimeout(function() {
              $("#success-alert").fadeTo(500, 0).slideUp(500, function(){
                  $(this).remove(); 
              });
          }, 1000);
      });
    </script>
    {%endif%} 



<div class=" col-6 mt-4">
      <form action="{% url 'newhoteregister' %}"  method="post" enctype="multipart/form-data">
          {% csrf_token %}
      <div class="row">
          <div class="col mb-3 card m-2">
              <h5 class="mt-3 mb-3">Hotel Registration Form</h5>
              <label for="nameBackdrop" class="form-label mb-2">Hotel Name</label>
              <input
                type="text"
                name="hotel_name"
                id="nameBackdrop"
                class="form-control mb-3"
                placeholder="Enter Hotel Name"
                required
              />


              <label for="nameBackdrop" class="form-label mb-2">Hotel Main Contact Number</label>
              <input
                type="number"
                name="hotel_contact"
                id="nameBackdrop"
                class="form-control mb-3"
                placeholder="Enter Phone Number"
                required
              />

              <label for="nameBackdrop" class="form-label mb-2">Near By Landmark</label>
              <input
                type="text"
                name="hotel_nearbylandmark"
                id="nameBackdrop"
                class="form-control mb-3"
                placeholder="Enter Hotel Name"
                required
              />

              
  
  
              {% comment %} <label for="nameBackdrop" class="form-label mb-2">Hotel State</label>
              <input
                type="text"
                name="hotel_state"
                id="nameBackdrop"
                class="form-control mb-3"
                placeholder="Enter State"
                required
              />
   {% endcomment %}
  
              <label for="nameBackdrop" class="form-label mb-2">Hotel City</label>
              <input
                type="text"
                name="hotel_city"
                id="nameBackdrop"
                class="form-control mb-3"
                placeholder="Enter City"
                required
              />


              <label for="nameBackdrop" class="form-label mb-2">Hotel Main Image</label>
              <input
                type="file"
                name="hotel_mimage"
                id="nameBackdrop"
                class="form-control mb-3"
                placeholder="Enter City"
                required
              />
  
              {% comment %} <label for="nameBackdrop" class="form-label mb-2">Hotel ZipCode</label>
              <input
                type="text"
                name="hotel_zipcode"
                id="nameBackdrop"
                class="form-control mb-3"
                placeholder="Enter ZipCode"
                required
              />


              <label for="nameBackdrop" class="form-label mb-2">Hotel Address</label>
              <input
                type="text"
                name="hotel_address"
                id="nameBackdrop"
                class="form-control mb-3"
                placeholder="Enter Hotel Name"
                required
              /> {% endcomment %}
  
             
  
              <input type="submit" class="btn btn-primary mb-4 mt-3" value="SUBMIT" />
  
          </div>
  
      </form>
          
  </div></div>

</div>




{%endblock%}